body {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    align-items: center;
    padding: 0 40px;
    background-image: url('./img/5_background/background_img_main.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Bungee';
    overflow-x: hidden;
}

@font-face {
  font-display: swap; 
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/bungee-v17-latin-regular.woff2') format('woff2'); 
}

h1 {
    color: azure;
    text-decoration: wavy;
    font-size: 48px;
}

.outlined { 
    color: white; 
    text-shadow: 
    -1px -1px 0 black, 
    1px -1px 0 black, 
    -1px 1px 0 black, 
    1px 1px 0 black; 
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 800;
}

a:hover {
    transform: scale(1.1);
    transition: 125ms ease-in-out;
}

.game-content-wrapper {
    position: relative;
    width: fit-content;
}

canvas {
    border: 2px solid white;
    border-style: double;
    border-radius: 8px;
    display: block;
}

.upper-btn-container {
    display: flex;
    justify-content: flex-end;
    gap: clamp(8px, 3vw, 20px);
    position: absolute;
    top: 6px;
    right: 8px;
}

.upper-btn-container button img {
    width: clamp(20px, 4vw, 20px);
    height: auto;
    max-width: 28px;
}

.upper-btn-container button {
    padding: clamp(2px, 1vw, 6px);
    height: auto;
}

button {
    cursor: pointer;
    border-radius: 5px;
    background-color: #f2f7ef;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c76758;
}

button:not(.fullscreen-btn):hover {
    background-color: #fdeba8;
}

.btn-active {
    background-color: #f6ba61;
}

.fullscreen-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 4px;
    right: 8px;
    padding: 2px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 30px;
}

.vertical-divider {
    height: 32px;
    width: 2px;
    background-color: white;
}

/* Media queries */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}