/* General styling rules */
*{
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    align-items: center;
    /* padding: 0 40px; */
    background-image: url('./img/5_background/background_img_main.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Bungee';
    overflow-x: hidden;
}

@font-face {
  font-display: swap; 
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/bungee-v17-latin-regular.woff2') format('woff2'); 
}

h1 {
    color: azure;
    text-decoration: wavy;
    font-size: 48px;
}

.outlined { 
    color: white; 
    text-shadow: 
    -1px -1px 0 black, 
    1px -1px 0 black, 
    -1px 1px 0 black, 
    1px 1px 0 black; 
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 800;
}

a:hover {
    transform: scale(1.1);
    transition: 125ms ease-in-out;
}

/* Canvas styling */

.game-content-wrapper {
    position: relative;
    width: fit-content;
}

canvas {
    border: 2px solid white;
    border-style: double;
    border-radius: 8px;
    display: block;
}

.upper-btn-container {
    display: flex;
    justify-content: flex-end;
    gap: clamp(8px, 3vw, 20px);
    position: absolute;
    top: 6px;
    right: 8px;
}

.upper-btn-container button img {
    width: clamp(20px, 4vw, 20px);
    height: auto;
    max-width: 28px;
}

.upper-btn-container button {
    padding: clamp(2px, 1vw, 6px);
    height: auto;
}

button {
    cursor: pointer;
    border-radius: 5px;
    background-color: #f2f7ef;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c76758;
}

button:not(.fullscreen-btn):hover {
    background-color: #fdeba8;
}

.btn-active {
    background-color: #f6ba61;
}

.mobile-control-buttons {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 4px;
}

.mobile-control-buttons button {
    background-color: transparent;
    border: 2px solid white;
    padding: 4px 16px;
    border-radius: 20%;
    background-color: rgba(220, 220, 220, 0.7);
}

.right-btns, 
.left-btns {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

/* Footer styling */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 30px;
    padding-bottom: 40px;
}

.vertical-divider {
    height: 32px;
    width: 2px;
    background-color: white;
}

.warning-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: fixed;
    background-color: #fbc862;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
    padding: 0 8px;
    box-sizing: border-box;
}

.warning-container span {
    word-break: break-word;
    text-align: center;
}

.salsa-bottle {
    height: 100px;
    width: 100px;
    animation: rotateBottle 1s ease-in-out infinite;
}

@keyframes rotateBottle {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* Media queries */
@media(max-width: 1030px) {
    .mobile-control-buttons {
        display: flex;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}