main {
    background: rgba(240, 240, 240, 0.7);
    border-radius: 12px; 
    backdrop-filter: blur(2px);
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding: 40px 20px;
    text-align: justify;
}

main h1 {
    color: white;
    text-align: center;
}
main h2 {
    color: white;
}
main a {
    color: blue;
    text-decoration: underline;
    font-size: 16px;
    word-break: break-all;
}